In [59]:
import pandas as pd
import requests
import json
from pprint import pprint
import numpy as np

In [53]:
url = "https://api.themoviedb.org/3/movie/upcoming?api_key=8bc5a5245af0e94fde2d2ac84dffb856&language=en-US&page=1"

In [64]:
 # Converting the response to JSON, and printing the result.
response = requests.get(url) 
data = response.json()
# pprint(data)

In [71]:
#2021 release dataframe columns: ['id', 'title', 'popularity','vote_average','vote_count','original_language','release_date']
#before 2021 movie columns: []
id = []
title = []
popularity = []
vote_average = []
vote_count = []
original_language = []
release_date = []

In [89]:
num_page = 1
for num_page in range(1, data['total_pages']):
    url = "https://api.themoviedb.org/3/movie/upcoming?api_key=8bc5a5245af0e94fde2d2ac84dffb856&language=en-US&page=1"
    response = requests.get(url).json()
    
    try:
        for x in range(0, len(response['results'])):
            id.append(response['results'][x]['id'])
            title.append(response['results'][x]['popularity'])
#             title.append(response['results'][x]['vote_average'])
#             title.append(response['results'][x]['vote_count'])
#             title.append(response['results'][x]['original_language'])
#             title.append(response['results'][x]['release_date'])
    except (KeyError, IndexError):
            print("Missing field/result... skipping.")

new_releases_df = pd.DataFrame({'id':id})
new_releases_df

          id
0     531219
1     718444
2     425001
3     726739
4     595149
...      ...
2595  590995
2596  551804
2597  585244
2598  583132
2599  521007

[2600 rows x 1 columns]

In [92]:
movie_id_newreleases_df = new_releases_df.to_csv('movie_id_newreleases_df.csv')
movie_id_newreleases_df