In [1]:
import requests
import pandas as pd
import random
from pprint import pprint

In [2]:
movie_data = pd.read_csv("movie_id_newreleases_df.csv")

In [3]:
movie_data.drop_duplicates()

      Unnamed: 0      id
0              0  531219
1              1  718444
2              2  425001
3              3  726739
4              4  595149
...          ...     ...
2595        2595  590995
2596        2596  551804
2597        2597  585244
2598        2598  583132
2599        2599  521007

[2600 rows x 2 columns]

In [16]:
ids = []


id_data = pd.read_csv("movie_id_newreleases_df.csv")
ids = id_data.id.tolist()

rand_ids = ids[42:44]

# for x in ids:
#     rand_ids = [x for x in range(0,20)]
# rand_ids = random.shuffle(ids)
# len(ids)
rand_ids

[425001, 726739]

In [17]:
url = "https://utelly-tv-shows-and-movies-availability-v1.p.rapidapi.com/idlookup"

headers = {
    'x-rapidapi-key': "4224dc7d08msh2590b7b75ed303dp1ce78djsnbbbe72512dbf",
    'x-rapidapi-host': "utelly-tv-shows-and-movies-availability-v1.p.rapidapi.com"
    }

sites = []

for x in rand_ids:
    querystring = {"source_id": x,"source":"tmdb","country":"us"}
    response = requests.request("GET", url, headers=headers, params=querystring).json()

    try:
        response['collection']['name']
        for x in range(0, len(response['collection']['locations'])):
            sites.append(f"{response['collection']['name']},{response['collection']['locations'][x]['name']}")
            
    except(KeyError):
        print(x)

In [18]:
movie = []
location = []

for x in sites:
    y = x.split(',')
    movie.append(y[0])
    location.append(y[1])

In [19]:
okdf = pd.DataFrame({"Movies": movie, "Sites": location}, index=movie)
okdf

                                              Movies                    Sites
War with Grandpa                    War with Grandpa      FandangoMoviesIVAUS
Cats & Dogs 3: Paws Unite  Cats & Dogs 3: Paws Unite          GooglePlayIVAUS
Cats & Dogs 3: Paws Unite  Cats & Dogs 3: Paws Unite              iTunesIVAUS
Cats & Dogs 3: Paws Unite  Cats & Dogs 3: Paws Unite  AmazonInstantVideoIVAUS

In [23]:
sites

['War with Grandpa,FandangoMoviesIVAUS',
 'Cats & Dogs 3: Paws Unite,GooglePlayIVAUS',
 'Cats & Dogs 3: Paws Unite,iTunesIVAUS',
 'Cats & Dogs 3: Paws Unite,AmazonInstantVideoIVAUS']

In [9]:
goog = []
nkdf = pd.DataFrame({"Movies": movie}, index=movie)
nkdf = nkdf.drop_duplicates()

nkdf["google"] = ""
nkdf["itunes"] = ""
nkdf["amazon"] = ""
nkdf["netflix"] = ""
nkdf["fandango"] = ""
nkdf["hulu"] = ""
nkdf["atom"] = ""
nkdf["unknown"] = ""

In [10]:
len(nkdf)

15

In [11]:
for index, row in okdf.iterrows():
    if row["Sites"] == 'GooglePlayIVAUS':
        nkdf.at[row["Movies"], "google"] = 1
    elif row["Sites"] == 'iTunesIVAUS':
        nkdf.at[row["Movies"], "itunes"] = 1
    elif row["Sites"] == 'AmazonInstantVideoIVAUS':
        nkdf.at[row["Movies"], "amazon"] = 1
    elif row["Sites"] == 'NetflixIVAUS':
        nkdf.at[row["Movies"], "netflix"] = 1
    elif row["Sites"] == 'FandangoMoviesIVAUS':
        nkdf.at[row["Movies"], "fandango"] = 1
    elif row["Sites"] == 'HuluIVAUS':
        nkdf.at[row["Movies"], "hulu"] = 1
    elif row["Sites"] == 'AtomTicketsIVAUS':
        nkdf.at[row["Movies"], "atom"] = 1
    else:
        nkdf.at[row["Movies"], "unknown"] = 1

In [12]:
nkdf

,Movies,google,itunes,amazon,netflix,fandango,hulu,atom,unknown
Rogue,Rogue,1,1,1,,,,,
War with Grandpa,War with Grandpa,,,,,1,,,
Cats & Dogs 3: Paws Unite,Cats & Dogs 3: Paws Unite,1,1,1,,,,,
Death of Me,Death of Me,1,1,1,,,,,
1BR,1BR,1,1,1,1,,,,
Sputnik,Sputnik,1,1,1,,,1,,
Bill & Ted Face the Music,Bill & Ted Face the Music,1,1,1,,1,,,
Lady Driver,Lady Driver,,,,1,,,,
The Croods 2,The Croods 2,,,,,1,,,
Monos,Monos,1,1,1,,,1,,
Palm Springs,Palm Springs,,,,,,1,,
The Craft: Legacy,The Craft: Legacy,1,,1,,,,,
Freaky,Freaky,,,,,1,,,
I Still Believe,I Still Believe,1,1,1,,1,1,1,
The Witches,The Witches,,,,,,,,1

In [24]:
nkdf['google'] = nkdf['google'].fillna(0)
nkdf

,Movies,google,itunes,amazon,netflix,fandango,hulu,atom,unknown
Rogue,Rogue,1,1,1,,,,,
War with Grandpa,War with Grandpa,,,,,1,,,
Cats & Dogs 3: Paws Unite,Cats & Dogs 3: Paws Unite,1,1,1,,,,,
Death of Me,Death of Me,1,1,1,,,,,
1BR,1BR,1,1,1,1,,,,
Sputnik,Sputnik,1,1,1,,,1,,
Bill & Ted Face the Music,Bill & Ted Face the Music,1,1,1,,1,,,
Lady Driver,Lady Driver,,,,1,,,,
The Croods 2,The Croods 2,,,,,1,,,
Monos,Monos,1,1,1,,,1,,
Palm Springs,Palm Springs,,,,,,1,,
The Craft: Legacy,The Craft: Legacy,1,,1,,,,,
Freaky,Freaky,,,,,1,,,
I Still Believe,I Still Believe,1,1,1,,1,1,1,
The Witches,The Witches,,,,,,,,1

In [14]:
len(response['collection']['locations'])

3

In [15]:
sight

NameError: name 'sight' is not defined