In [2]:
import requests
import pandas as pd
import random
from pprint import pprint

In [10]:
movie_data = pd.read_csv("movie_id_newreleases_df.csv")
movie_data

      Unnamed: 0      id
0              0  531219
1              1  718444
2              2  425001
3              3  726739
4              4  595149
...          ...     ...
2595        2595  590995
2596        2596  551804
2597        2597  585244
2598        2598  583132
2599        2599  521007

[2600 rows x 2 columns]

In [11]:
movie_data.drop_duplicates()

      Unnamed: 0      id
0              0  531219
1              1  718444
2              2  425001
3              3  726739
4              4  595149
...          ...     ...
2595        2595  590995
2596        2596  551804
2597        2597  585244
2598        2598  583132
2599        2599  521007

[2600 rows x 2 columns]

In [27]:
ids = []


id_data = pd.read_csv("movie_id_newreleases_df.csv")
ids = id_data.id.tolist()

rand_ids = ids[21:42]

# for x in ids:
#     rand_ids = [x for x in range(0,20)]
# rand_ids = random.shuffle(ids)
# len(ids)
rand_ids

[718444,
 425001,
 726739,
 595149,
 611605,
 594718,
 413518,
 501979,
 591629,
 529203,
 417466,
 587792,
 520725,
 390635,
 590995,
 551804,
 585244,
 583132,
 521007,
 531219,
 718444]

In [28]:
url = "https://utelly-tv-shows-and-movies-availability-v1.p.rapidapi.com/idlookup"

headers = {
    'x-rapidapi-key': "4224dc7d08msh2590b7b75ed303dp1ce78djsnbbbe72512dbf",
    'x-rapidapi-host': "utelly-tv-shows-and-movies-availability-v1.p.rapidapi.com"
    }

sites = []

for x in rand_ids:
    querystring = {"source_id": x,"source":"tmdb","country":"us"}
    response = requests.request("GET", url, headers=headers, params=querystring).json()

    try:
        response['collection']['name']
        for x in range(0, len(response['collection']['locations'])):
            sites.append(f"{response['collection']['name']},{response['collection']['locations'][x]['name']}")
            
    except(KeyError):
        print(x)

413518
520725
390635
583132
521007

In [50]:
movie = []
location = []

for x in sites:
    y = x.split(',')
    movie.append(y[0])
    location.append(y[1])

In [51]:
okdf = pd.DataFrame({"Movies": movie, "Sites": location}, index=movie)
okdf

                                              Movies                    Sites
Sputnik                                      Sputnik          GooglePlayIVAUS
Sputnik                                      Sputnik              iTunesIVAUS
Sputnik                                      Sputnik  AmazonInstantVideoIVAUS
Cats & Dogs 3: Paws Unite  Cats & Dogs 3: Paws Unite          GooglePlayIVAUS
Cats & Dogs 3: Paws Unite  Cats & Dogs 3: Paws Unite              iTunesIVAUS
...                                              ...                      ...
The Craft: Legacy                  The Craft: Legacy  AmazonInstantVideoIVAUS
The Craft: Legacy                  The Craft: Legacy          GooglePlayIVAUS
Lady Driver                              Lady Driver             NetflixIVAUS
Freaky                                        Freaky      FandangoMoviesIVAUS
The Witches                              The Witches              HBOMaxIVAUS

[192 rows x 2 columns]

In [52]:
location

['GooglePlayIVAUS',
 'iTunesIVAUS',
 'AmazonInstantVideoIVAUS',
 'GooglePlayIVAUS',
 'iTunesIVAUS',
 'AmazonInstantVideoIVAUS',
 'HBOMaxIVAUS',
 'NetflixIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'HuluIVAUS',
 'AmazonInstantVideoIVAUS',
 'NetflixIVAUS',
 'FandangoMoviesIVAUS',
 'AmazonInstantVideoIVAUS',
 'GooglePlayIVAUS',
 'FandangoMoviesIVAUS',
 'FandangoMoviesIVAUS',
 'FandangoMoviesIVAUS',
 'NetflixIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'AmazonInstantVideoIVAUS',
 'FandangoMoviesIVAUS',
 'HBOMaxIVAUS',
 'AmazonInstantVideoIVAUS',
 'GooglePlayIVAUS',
 'NetflixIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'AmazonInstantVideoIVAUS',
 'FandangoMoviesIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'AmazonInstantVideoIVAUS',
 'GooglePlayIVAUS',
 'iTunesIVAUS',
 'AmazonInstantVideoIVAUS',
 'AmazonInstantVideoIVAUS',
 'GooglePlayIVAUS',
 'iTunesIVAUS',
 'HuluIVAUS',
 'NetflixIVAUS',
 'FandangoMoviesIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'AmazonInstantVideoIVAUS',
 'AtomTicketsIVAUS',
 'FandangoMoviesIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'HuluIVAUS',
 'AmazonInstantVideoIVAUS',
 'NetflixIVAUS',
 'GooglePlayIVAUS',
 'iTunesIVAUS',
 'AmazonInstantVideoIVAUS',
 'GooglePlayIVAUS',
 'iTunesIVAUS',
 'AmazonInstantVideoIVAUS',
 'FandangoMoviesIVAUS',
 'GooglePlayIVAUS',
 'iTunesIVAUS',
 'AmazonInstantVideoIVAUS',
 'FandangoMoviesIVAUS',
 'FandangoMoviesIVAUS',
 'NetflixIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'AmazonInstantVideoIVAUS',
 'NetflixIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'AmazonInstantVideoIVAUS',
 'AtomTicketsIVAUS',
 'FandangoMoviesIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'HuluIVAUS',
 'AmazonInstantVideoIVAUS',
 'FandangoMoviesIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'AmazonInstantVideoIVAUS',
 'GooglePlayIVAUS',
 'iTunesIVAUS',
 'AmazonInstantVideoIVAUS',
 'HuluIVAUS',
 'AtomTicketsIVAUS',
 'FandangoMoviesIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'HuluIVAUS',
 'AmazonInstantVideoIVAUS',
 'AtomTicketsIVAUS',
 'FandangoMoviesIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'HuluIVAUS',
 'AmazonInstantVideoIVAUS',
 'GooglePlayIVAUS',
 'iTunesIVAUS',
 'AmazonInstantVideoIVAUS',
 'NetflixIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'AmazonInstantVideoIVAUS',
 'NetflixIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'AmazonInstantVideoIVAUS',
 'NetflixIVAUS',
 'GooglePlayIVAUS',
 'iTunesIVAUS',
 'AmazonInstantVideoIVAUS',
 'FandangoMoviesIVAUS',
 'GooglePlayIVAUS',
 'iTunesIVAUS',
 'AmazonInstantVideoIVAUS',
 'FandangoMoviesIVAUS',
 'FandangoMoviesIVAUS',
 'GooglePlayIVAUS',
 'iTunesIVAUS',
 'AmazonInstantVideoIVAUS',
 'NetflixIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'AmazonInstantVideoIVAUS',
 'GooglePlayIVAUS',
 'iTunesIVAUS',
 'AmazonInstantVideoIVAUS',
 'FandangoMoviesIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'AmazonInstantVideoIVAUS',
 'FandangoMoviesIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'HuluIVAUS',
 'AmazonInstantVideoIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'HuluIVAUS',
 'AmazonInstantVideoIVAUS',
 'AtomTicketsIVAUS',
 'FandangoMoviesIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'HuluIVAUS',
 'AmazonInstantVideoIVAUS',
 'FandangoMoviesIVAUS',
 'AmazonInstantVideoIVAUS',
 'GooglePlayIVAUS',
 'iTunesIVAUS',
 'FandangoMoviesIVAUS',
 'NetflixIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'AmazonInstantVideoIVAUS',
 'AmazonInstantVideoIVAUS',
 'GooglePlayIVAUS',
 'NetflixIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'AmazonInstantVideoIVAUS',
 'NetflixIVAUS',
 'AtomTicketsIVAUS',
 'FandangoMoviesIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'HuluIVAUS',
 'AmazonInstantVideoIVAUS',
 'AmazonInstantVideoIVAUS',
 'GooglePlayIVAUS',
 'iTunesIVAUS',
 'AtomTicketsIVAUS',
 'FandangoMoviesIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'HuluIVAUS',
 'AmazonInstantVideoIVAUS',
 'FandangoMoviesIVAUS',
 'iTunesIVAUS',
 'GooglePlayIVAUS',
 'AmazonInstantVideoIVAUS',
 'FandangoMoviesIVAUS',
 'FandangoMoviesIVAUS',
 'AmazonInstantVideoIVAUS',
 'GooglePlayIVAUS',
 'NetflixIVAUS',
 'FandangoMoviesIVAUS',
 'HBOMaxIVAUS']

In [53]:
goog = []
nkdf = pd.DataFrame({"Movies": movie}, index=movie)
nkdf = nkdf.drop_duplicates()

nkdf["google"] = ""
nkdf["itunes"] = ""
nkdf["amazon"] = ""
nkdf["netflix"] = ""
nkdf["fandango"] = ""
nkdf["hulu"] = ""
nkdf["atom"] = ""
nkdf["unknown"] = ""

In [57]:
len(nkdf)

15

In [55]:
for index, row in okdf.iterrows():
    if row["Sites"] == 'GooglePlayIVAUS':
        nkdf.at[row["Movies"], "google"] = 1
    elif row["Sites"] == 'iTunesIVAUS':
        nkdf.at[row["Movies"], "itunes"] = 1
    elif row["Sites"] == 'AmazonInstantVideoIVAUS':
        nkdf.at[row["Movies"], "amazon"] = 1
    elif row["Sites"] == 'NetflixIVAUS':
        nkdf.at[row["Movies"], "netflix"] = 1
    elif row["Sites"] == 'FandangoMoviesIVAUS':
        nkdf.at[row["Movies"], "fandango"] = 1
    elif row["Sites"] == 'HuluIVAUS':
        nkdf.at[row["Movies"], "hulu"] = 1
    elif row["Sites"] == 'AtomTicketsIVAUS':
        nkdf.at[row["Movies"], "atom"] = 1
    else:
        nkdf.at[row["Movies"], "unknown"] = 1

In [56]:
nkdf

,Movies,google,itunes,amazon,netflix,fandango,hulu,atom,unknown
Sputnik,Sputnik,1,1,1,,,,,
Cats & Dogs 3: Paws Unite,Cats & Dogs 3: Paws Unite,1,1,1,,,,,
The Witches,The Witches,,,,,,,,1
Lady Driver,Lady Driver,,,,1,,,,
Monos,Monos,1,1,1,,,1,,
War with Grandpa,War with Grandpa,,,,,1,,,
The Craft: Legacy,The Craft: Legacy,1,,1,,,,,
The Croods 2,The Croods 2,,,,,1,,,
1BR,1BR,1,1,1,1,,,,
Freaky,Freaky,,,,,1,,,
Bill & Ted Face the Music,Bill & Ted Face the Music,1,1,1,,1,,,
Death of Me,Death of Me,1,1,1,,,,,
Rogue,Rogue,1,1,1,,,,,
Palm Springs,Palm Springs,,,,,,1,,
I Still Believe,I Still Believe,1,1,1,,1,1,1,

In [15]:
len(response['collection']['locations'])

1

In [33]:
sight

NameError: name 'sight' is not defined